{%  extends 'base.html.twig' %}

{%  block body %}

             <h3>Client</h3>
               <form method="POST">
              <!--faire des formulaire pour demotic-->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Entrer</span>
                </div>
                <input type="text" class="form-control" placeholder="votre nom" name="nom">
                <input type="text" class="form-control" placeholder="votre prenom" name="prenom">
              </div>
              <!--petite espace-->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Entrer</span>
                </div>
                <input type="text" class="form-control" placeholder="votre telephone" name="telephone">
                <input type="text" class="form-control" placeholder="votre courriel(mail)" name="mail">
              </div>
              <!--deux-->
              <h3>Ordinateur</h3>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    Portable:  &nbsp  <input type="checkbox"> 
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Marque" name="marque">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    Fixe:  &nbsp  <input type="checkbox"> 
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Modèle" name="modele">
              </div>


              <button type="submit" class="btn btn-primary">envoyer</button>

             




            
        </form>



         {% endblock %} 